<div class="page-header">
	<h1>Alterando Cliente</h1>
</div>

<%= render 'form' %>

<div class="col-sm-2">
<%= link_to @cliente, class: "btn btn-success" do %>
	<i class="glyphicon glyphicon-search"></i> Visualizar
<% end %>
</div>

<div class="col-sm-1">
<%= link_to clientes_path, class: "btn btn-default" do %>
	<i class="glyphicon glyphicon-arrow-left"></i> Voltar
<% end %>
</div>
