 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-datepicker3";
 
html{
  height: 100%;
}

body {
  min-height: 100%;
}

.logo {
  padding-top: 10px;
}

.login-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
  height: 284px;
}

#loading-indicator {
   position: absolute;
   left: 50%;
   top: 50%;
}

form label:not(.checkbox):after { 
    content: ":"; 
    
}

th {
    text-align: center;
}