
@media (max-width: 767px) {
	#sidebar {
		background: #f5f5f5;
		padding-top: 5px;
		width: 100%;
	}
	
	#conteudo {
		padding-left: 0;
		padding-right: 0;
		padding-top: 50px;
	}
}

@media(min-width: 768px) {
	#conteudo {
		padding-top: 50px;
		transition: all .4s ease 0s;
	}
	
	#sidebar {
		margin-left: -19%;
		background: #f5f5f5;
	}
	
	#conteudo.ativo {
		padding-left: 16%;
	}
	
	#sidebar.hidden-sm {
		display: none !important;
	}
}

@media(min-width: 992px) {
	#conteudo {
		padding-top: 50px;
		transition: all .4s ease 0s;
	}
	
	#sidebar {
		margin-left: -20%;
		background: #f5f5f5;
	}
	
	#conteudo.ativo {
		padding-left: 16.5%;
	}
	
	#sidebar.hidden-sm {
		display: none !important;
	}
}

.nav-sidebar {
  margin-right: -15px; /* 20px padding + 1px border */
  margin-bottom: 15px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
