	<ul class="nav nav-sidebar">
		<li class="active hidden-xs">
			<%= link_to "", id: 'menu-toggle' do %>
			Menu <i class="glyphicon glyphicon-align-justify" style="float: right"></i>
			<% end %>
		</li>
		<li>
			<%= link_to root_path do %>
				Inicio <i class="glyphicon glyphicon-home" style="float: right"></i>
			<% end %>
		</li>
		<li>
			<%= link_to clientes_path do %>
				Clientes <i class="glyphicon glyphicon-user" style="float: right"></i>
			<% end %>
		</li>
	</ul>
